
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.home-page {
  background-color: #fff;
  border-radius: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.log {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#home {
  background-image: url("./img/imagee.png");
  background-size: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px 12px 0 12px;
  padding-top: 25px;
  padding-bottom: 48px;
}

.presentation {
  padding-top: 50px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  text-align: start;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul {
  padding: 0;
}

.icon {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.page1 {
  margin: 100px 40px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 16px;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image1 {
  width: 100%;
  height: auto;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
  align-items: center;
  margin-top: 10px;
}

.text1-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #172b4d;
  line-height: 44px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #7a869a;
}

.can {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.Bac {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.par {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 10px;
}

.see {
  margin-top: 14px;
}

.button {
  border: none;
  cursor: pointer;
  padding: 4px 12px;
  margin-top: 12px;
  width: auto;
  height: auto;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btngr {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  width: auto;
  height: auto;
  padding: 5px 5px;
  cursor: pointer;
  border-color: #396df2;
  border-radius: 8px;
  background-color: #fff;
}

#home1 {
  background-color: #fff;
  border-radius: 0 20% 0 0;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 12px;
}

.lang {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  margin-top: 20px;
}

.btngr:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #ebebff;
}

.btngr:active {
  background-color: #2230d2;
  color: #ebebff;
}

.btngr:active,
.btngr:focus {
  background-color: #2230d2;
  color: #ebebff;
}

.but {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
}

.catimg {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 15px;
  margin: 15px;
}

.but li {
  list-style-type: none;
}

.souslist {
  list-style-type: none;
}

.gridsec {
  display: grid;
  grid-template-columns: 1fr;
}

.ulp {
  padding-left: 12px;
}
